<div class="card" [ngStyle]="{ 'background': getBackgroundColor() }">
<!-- <div class="card" [style.background-color]="getBackgroundColor()"> -->
    <h2>{{ pokemonFullData.name | titlecase }}</h2>
    <p>{{ pokemonFullData.id | pokemonNumber }}</p>
    <img [src]="pokemonFullData.sprites.other['official-artwork'].front_default" alt="pokemon">
    <b>Types:</b>
    <div class="types-container"> 
        <span class="type-container">
            <img class="type-icon"
            [src]="'assets/imgs/pokemon-types-icons/' + pokemonFullData.types[0].type.name + '_icon_SwSh.png'" 
            [alt]="pokemonFullData.types[0].type.name"
            >
            <p>{{ pokemonFullData.types[0].type.name }}</p>
        </span>
        <span *ngIf="pokemonFullData.types.length > 1" class="type-container">
            <img class="type-icon"
            [src]="'assets/imgs/pokemon-types-icons/' + pokemonFullData.types[1].type.name + '_icon_SwSh.png'" 
            [alt]="pokemonFullData.types[1].type.name"
            >
            <p>{{ pokemonFullData.types[1].type.name }}</p>
        </span>
    </div>
</div>
