.list-container {
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    overflow: hidden;
    width: 100%;
    justify-items: center;
}